<html>
<head>
	<title>facebook</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<style type="text/css">
header
{
	background-color: #4444b1;
	color: #fff;
}
#search
{
	position: absolute;
	left:385px;
	top: 7px;
}
#edit
{
	position: absolute;
	top: 55px;
	right: 190px;
}
#lab
{
	position: absolute;
	top: 50px;
	left:55px;
}
#aa
{
	position: absolute;
	right: 55px;
}
#aaa
{
	position: absolute;
	top: 20px;
}
	</style>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body style=background-color:#ebe9e9;>
<header>
<div class="container">
	<div class="row"><div class="col-md-12"></div></div>
	<div class="row"><div class="col-md-12"></div></div><div class="row"><div class="col-md-12"></div></div><div class="row"><div class="col-md-12"></div></div><div class="row"><div class="col-md-12"></div></div><div class="row"><div class="col-md-12"></div></div><div class="row"><div class="col-md-12"></div></div>
	<div class="row">
		<div class="col-md-6">
			<input type="text" placeholder="search facebook" class="" size="60"><span class="glyphicon glyphicon-search" id="search" style=color:#5c5959;>  </span>
		</div>
		<div class="col-md-2">

		</div>
		<div class="col-md-3">
			<img src="C:\Users\master\Desktop\a1.jpg" width="25">&nbsp;{{name}}
		</div>

	</div>
</div>
</header>

	<div class="row" style=background-color:#ebe9e9;>
		<div class="col-md-2" id="1">
			<br>&nbsp;&nbsp;&nbsp;&nbsp;<img src="C:\Users\master\Desktop\a1.jpg" width="18">&nbsp;&nbsp;{{name}}
			<br><br>
			<a href="#">
          <span class="glyphicon glyphicon-pencil" id="edit">
        </span></a>
        <p id="lab">Edit profile</p>
		</div><br>
		<div class="col-md-6" style=background-color:white;>
			<div class="row">
				<div class="col-md-3">
			<a href=""><span class="glyphicon glyphicon-pencil" id=""></span>&nbsp;&nbsp;<b>Update Status</b></a>
			</div>
			<div class="col-md-3">
				<a href="#">
          <span class="glyphicon glyphicon-picture"></span>
        &nbsp;&nbsp;<b>Add photo/Video</a></b>
				</div>
			<div class="col-md-6">
				<a href="#">
          <span class="glyphicon glyphicon-text-color"></span>
        &nbsp;&nbsp;<b>Add Note</b></a>
				</div>
				<div style=color:#626262;height:120px;>
				<hr>
				<img src="C:\Users\master\Desktop\a1.jpg" width="40">&nbsp;&nbsp;&nbsp;&nbsp;What's on your mind?
			</div>

	</div>

	</div>
		<div class="col-md-3" id="aa" style=background-color:white;height:800px;>
        YOUR ADS
		</div>
		<div class="col-md-1"></div></div>
		<br>
		<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-6" style=background-color:white;height:400px;></div>

	</div>
</body>
</html>